*{
	margin: 0;
	padding: 0;
}

.center-div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heading{
	width: 100%;
	line-height: 80px;
	font-size: 1.4reml;
}

form{
	width: 400px;
}